[Unit]
Description=Export environment for PAM consumption
After=environment.target

ConditionPathExists=%h/.pam_environment

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/etc/systemd/scripts/environment-export.sh %h/.pam_environment
ExecStop=/etc/systemd/scripts/environment-export-undo.sh %h/.pam_environment

[Install]
WantedBy=basic.target
