# Licensed under GPLv3.
# Ivan Shapovalov <intelfx100@gmail.com>

[Unit]
Description=Xvnc server, display %I
Documentation=man:Xvnc(1)
After=systemd-user-sessions.service plymouth-quit-wait.service

[Service]
User=operator
PAMName=login

ExecStart=/usr/bin/xinit /etc/lightdm/Xsession /home/operator/.xsession -- /usr/bin/Xvnc %I -geometry 1366x768 -rfbauth /etc/vnc-passwd
ExecStop=/usr/bin/systemctl --user start exit-session@%I.target

Type=simple
Restart=always
RestartSec=0
KillMode=mixed

UtmpIdentifier=%I

[Install]
WantedBy=graphical.target
