.include need-session@.service

[Unit]
Description=Akonadi for session %I
Requires=kdeinit@%i.service
After=kdeinit@%i.target nepomuk@%i.service

[Service]
Type=forking
ExecStart=/usr/bin/akonadictl start
ExecStop=/usr/bin/akonadictl stop
SuccessExitStatus=255

[Install]
WantedBy=graphic@.target
