.include need-xserver@.service

[Unit]
Description=Awesome WM on display %I
Documentation=man:awesome(1)

[Service]
Type=simple
ExecStartPre=-/bin/bash -c "exec /usr/bin/xdg_menu --format awesome --root-menu /etc/xdg/menus/arch-applications.menu > %h/.config/awesome/xdgmenu.lua"
ExecStartPre=-/usr/bin/xsetroot -cursor_name left_ptr
ExecStart=/usr/bin/awesome
Restart=always

[Install]
WantedBy=graphic@%i.target
