.include need-session@.service

[Unit]
Description=Baloo for session %I
Requires=kdeinit@%i.service
After=kdeinit@%i.target

[Service]
Type=forking
ExecStart=/usr/bin/baloo_file
ExecStop=/usr/bin/balooctl stop

[Install]
WantedBy=graphic@.target
