.include need-session@.service

[Unit]
Description=Baloo for session %I
After=kdeinit@%i.target

[Service]
Type=forking
ExecStart=/usr/bin/baloo_file

KillMode=process

[Install]
WantedBy=graphic@.target
