.include need-session@.service

[Unit]
Description=Baloo for session %I
After=kdeinit@%i.target

[Service]
Type=simple
ExecStart=/usr/bin/baloo_file

KillMode=process
KillSignal=SIGHUP

[Install]
WantedBy=graphic@.target
