.include need-xserver@.service

[Unit]
Description=Bluedevil on display %I
After=kdeinit@%i.target bluetooth.target
StopWhenUnneeded=yes

[Service]
Type=forking
ExecStart=/usr/bin/bluedevil-monolithic
Restart=always

[Install]
WantedBy=bluetooth.target
