.include need-xserver@.service

[Unit]
Description=Compton X11 compositor on display %I
Documentation=man:compton(1)

[Service]
Type=forking
ExecStart=/usr/bin/compton -f -D 5 -b

[Install]
WantedBy=graphic@%i.target
