.include need-session@.service

[Unit]
Description=Compton X11 compositor for session %I
Documentation=man:compton(1)

[Service]
Type=forking
ExecStart=/usr/bin/compton -f -D 5 -b

[Install]
WantedBy=graphic@.target
