.include need-session@.service

[Unit]
Description=Dropbox daemon for session %I

[Service]
Type=simple
ExecStart=/usr/bin/dropboxd
Restart=always

[Install]
WantedBy=graphic@.target
