.include need-session@.service

[Unit]
Description=Dropbox daemon for session %I

[Service]
Type=simple
ExecStart=/home/intelfx/.dropbox-dist/dropboxd
Restart=always

[Install]
WantedBy=graphic@.target
