.include need-xserver@.service

[Unit]
Description=KDE initialization on display %I
Before=kdeinit@%i.target
Wants=kdeinit@%i.target
After=dbus.service

[Service]
Type=forking
ExecStartPre=/usr/bin/systemctl --user set-environment DE=kde KDE_FULL_SESSION=true KDE_SESSION_VERSION=4 KDE_SESSION_UID=%U XDG_CURRENT_DESKTOP=KDE
ExecStart=/usr/lib/kde4/libexec/start_kdeinit_wrapper +kcminit_startup
ExecStop=/usr/bin/kdeinit4_shutdown
TimeoutStopSec=5

[Install]
WantedBy=graphic@%i.target
