.include need-xserver@.service

[Unit]
Description=KDE initialization on display %I
Before=kdeinit@%i.target
Wants=kdeinit@%i.target

[Service]
Type=forking
ExecStart=/usr/bin/kdeinit4
ExecStartPost=/usr/bin/systemctl --user set-environment DE=kde
ExecStop=/usr/bin/kdeinit4_shutdown

[Install]
WantedBy=graphic@%i.target
