.include need-xserver@.service

[Unit]
Description=KDE initialization on display %I
Before=kdeinit@%i.target
Wants=kdeinit@%i.target
After=dbus.service

[Service]
Type=forking
ExecStart=/usr/lib/kde4/libexec/start_kdeinit_wrapper +kcminit_startup
# starting `kwrapper4 ksmserver` is deliberately skipped
ExecStop=/usr/bin/kdeinit4_shutdown
TimeoutStopSec=5

[Install]
WantedBy=graphic@%i.target
