.include need-xserver@.service

[Unit]
Description=Klipper on display %I
After=kdeinit@%i.target

[Service]
Type=forking
ExecStart=/usr/bin/klipper
Restart=always

[Install]
WantedBy=graphic@%i.target
