.include need-session@.service

[Unit]
Description=Klipper for session %I
After=kdeinit@%i.target

[Service]
Type=forking
ExecStart=/usr/bin/klipper
Restart=always

[Install]
WantedBy=graphic@.target
