.include need-session@.service

[Unit]
Description=KMix for session %I
After=kdeinit@%i.target

[Service]
Type=forking
ExecStart=/usr/bin/kmix
Restart=always

[Install]
WantedBy=graphic@.target
