.include need-session@.service

[Unit]
Description=KTorrent for session %I
After=kdeinit@%i.target

[Service]
Type=forking
ExecStart=/usr/bin/ktorrent
Restart=always

[Install]
WantedBy=graphic@.target
