.include need-session@.service

[Unit]
Description=mount-tray for session %I

[Service]
Type=simple
ExecStart=/usr/bin/mount-tray

[Install]
WantedBy=graphic@.target
