
#
# Session bridge template for a service unit.
#

# need-service@.service is a helper template partial unit which sources
# a externally-baked environment file, setting
# a dependency to an X server for a service unit and sets its $DISPLAY.

[Unit]
StopWhenUnneeded=yes

[Service]
EnvironmentFile=%t/%I-environment
