#
# Sets a global environment file with DISPLAY variable.
#

[Unit]
Description=Declare primary X server at %I
Requisite=xserver@%i.service
After=xserver@%i.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c "echo DISPLAY=%I > %t/primary-xserver.info"
ExecStop=/bin/rm %t/primary-xserver.info
RemainAfterExit=true

[Install]
RequiredBy=primary-xserver.target
