[Unit]
Description=Shairport AirTunes receiver
Requires=pulseaudio.socket

[Service]
EnvironmentFile=%h/.config/shairport
ExecStart=/usr/bin/shairport -o pulse $SHAIRPORT_ARGS
Restart=on-failure

[Install]
WantedBy=default.target
