[Unit]
Description=Shairport AirTunes receiver
Requires=pulseaudio.service
After=pulseaudio.service

[Service]
EnvironmentFile=%h/.config/shairport
ExecStart=/usr/bin/shairport $SHAIRPORT_ARGS
Restart=always

[Install]
WantedBy=basic.target
