[Unit]
Description=OpenSSH private key agent
Wants=environment.target
Before=environment.target

[Service]
Type=forking
ExecStartPre=/usr/bin/mkdir -m700 -p %t/keyring
ExecStart=/usr/bin/ssh-agent -a %t/keyring/ssh
ExecStartPost=/usr/bin/systemctl --user set-environment SSH_AUTH_SOCK=%t/keyring/ssh
Restart=on-abort

[Install]
WantedBy=default.target
