.include need-session@.service

[Unit]
Description=Synaptiks GUI for session %I
Requires=kdeinit@%i.service
After=kdeinit@%i.service synaptikscfg@%i.service

[Service]
Type=forking
ExecStart=/usr/bin/synaptiks
Restart=always

[Install]
WantedBy=graphic@.target
