.include need-session@.service

[Unit]
Description=Configure Synaptics touchpad for session %I
After=kdeinit@%i.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/synaptikscfg init

[Install]
WantedBy=graphic@.target
