.include need-session@.service

[Unit]
Description=Start xbindkeys for session %I
ConditionFileNotEmpty=%h/.xbindkeysrc

[Service]
Type=simple
ExecStart=/usr/bin/xbindkeys -n

[Install]
WantedBy=graphic@.target
