.include need-xserver@.service

[Unit]
Description=Set XKB mappings %I

Before=xmodmap-system@%i.service
Before=xmodmap-user@%i.service

[Service]
Type=oneshot
ExecStart=/usr/bin/setxkbmap -layout "us,ru(winkeys)" -option "grp:caps_toggle,grp_led:scroll"
RemainAfterExit=yes

[Install]
WantedBy=graphic@%i.target
