.include need-xserver@.service

[Unit]
Description=Merge %h/.Xmodmap on display %I
ConditionFileNotEmpty=%h/.Xmodmap

After=xmodmap-system@%i.service

[Service]
Type=oneshot
ExecStart=/usr/bin/xmodmap %h/.Xmodmap
RemainAfterExit=yes

[Install]
WantedBy=graphic@%i.target
