.include need-xserver@.service

[Unit]
Description=Merge %h/.Xresources on display %I
ConditionFileNotEmpty=%h/.Xresources

After=xrdb-system@%i.service

[Service]
Type=oneshot
ExecStart=/usr/bin/xrdb -merge %h/.Xresources
RemainAfterExit=yes

[Install]
WantedBy=graphic@%i.target
