.include need-xserver@.service

[Unit]
Description=XTerm on display %I

[Service]
Type=simple
ExecStart=/usr/bin/xterm
Restart=on-failure

[Install]
WantedBy=graphic@%i.target
