
#
# Minimal Xorg service file - launches Xorg as a service unit
#

# The Xorg launch helper forks, launches Xorg and waits for Xorg to
# accept incoming connections to $DISPLAY, and then signals READY
# to systemd. This guarantees that services that require access to
# $DISPLAY during the session don't start too early.
#
# If you implement a service that requires access to $DISPLAY, you are
# advised to include the "need-xserver@your-display.service" or
# "need-xserver@your-display.target".

[Unit]
Description=Xvnc server at %I
Requires=basic.target
After=basic.target

[Service]
Type=notify
ExecStart=/usr/bin/xorg-launch-helper /usr/bin/Xvnc %I -geometry 1366x768 -rfbwait 30000 -deferUpdate 30 -rfbauth %h/.vnc/passwd
Restart=always
RestartSec=1

[Install]
Alias=xserver@%i.service
